* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    width: 80%;
    padding-left: 5em;
}

.enlaces {
    padding-right: 5em;
}

.mensajeError {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    height: 50%;
    padding: 1.5rem;
    margin-top: auto;
}

.fotoProfesional{
    width: 12rem;
    height: 12rem;
}

@media (max-width: 576px) {
    .card-img-top {
        width: 6rem;
        height: 6rem;
    }
    .card {
        width: 100%;
    }
}

.cantValoraciones{
    color:rgb(170, 180, 189);
}

.badge{
    background-color: rgb(45, 149, 170);
    color:rgb(237, 255, 255);
   
}

.cardProfesional{
    border:0px;
}


.formFecha{
    background-color: aliceblue;
}

.cardBodyValorConsulta{
    color: rgb(45, 149, 170);
    background-color: #D9D9D9;
}