* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    width: 80%;
    padding-left: 5em;
}

.enlaces {
    padding-right: 5em;
}

.cards {
    margin-top: 10rem;
}

.mensajeError {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1.5rem;
    margin-top: auto;
}


.fotoProfesional{
    width: 12rem;
    height: 12rem;
}

@media (max-width: 576px) {
    .card-img-top {
        width: 6rem;
        height: 6rem;
    }
    .card {
        width: 100%;
    }
}

.cantValoraciones{
    color:rgb(170, 180, 189);
}

.badge{
    background-color: rgb(45, 149, 170);
    color:rgb(237, 255, 255);

}

.cardProfesional{
    border:0px;
}


.formFecha{
    background-color: aliceblue;
}

.cardBodyValorConsulta{
    color: rgb(45, 149, 170);
    background-color: #D9D9D9;
}
.container-registro {
    padding: 7rem 0;
}

.cardForm {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    margin-left: 5px;
}

.container-list {
    padding: 7rem 0;
}

.img-usuario {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.container-banner {
    height: 20rem;
    min-height: 80vh;
}

.container-imagen {
    position: relative;
    display: inline-block;

}

.banner {
    max-width: 100%;
    height: 65vh;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
    text-align: left;
    color: #fff;
    max-width: 40%;
}

.modal {
    padding: 0;
}
