* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    width: 80%;
    padding-left: 5em;
}

.enlaces {
    padding-right: 5em;
}

<<<<<<< HEAD
=======
.cards {
    margin-top: 10rem;
}

>>>>>>> 04958f42a7b230f44c4f524815305a0305d7d338
.mensajeError {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
<<<<<<< HEAD
    height: 50%;
    padding: 1.5rem;
    margin-top: auto;
=======
    padding: 1.5rem;
    margin-top: auto;
}

.container-registro {
    padding: 7rem 0;
}

.cardForm {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    margin-left: 5px;
}

.container-list {
    padding: 7rem 0;
>>>>>>> 04958f42a7b230f44c4f524815305a0305d7d338
}