<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container container-nav">
        <a class="navbar-brand" th:href="@{/inicio}">
            <!-- Acá va el logotipo -->
            <img src="/img/logo.png" alt="Logo" height="65" class="me-2">
            TuSalud
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            
            <form class="d-flex ms-lg-auto mb-2 mb-lg-0 w-50 container-busqueda" th:action="@{/paciente/listado}" >
                <input class="form-control me-2" type="text" placeholder="Buscar un profesional por nombre"
                       aria-label="Search" id="palabraClave" th:value="${palabraClave}" name="palabraClave">
                <button class="btn btn-dark" type="submit"><span class="fa fa-search"></span></button>
            </form>
            
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item" th:if="${session.usuariosession == null}">
                    <button type="button" class="btn text-light" data-bs-toggle="modal"
                            data-bs-target="#loginModal">
                        Iniciar sesión
                    </button>
                </li>
                <li th:if="${session.usuariosession == null}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Registrarse
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/registrar}">Como paciente</a></li>
                        <li><a class="dropdown-item" th:href="@{profesional/registrar}">Como profesional</a></li>
                    </ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Especialidades
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Pediatría</a></li>
                        <li><a class="dropdown-item" href="#">Ginecología</a></li>
                        <li><a class="dropdown-item" href="#">Clínica</a></li>
                        <li><a class="dropdown-item" href="#">Cardiología</a></li>
                    </ul>
                </li>
                <li class="nav-item" th:if="${session.usuariosession != null}">
                    <a class="nav-link text-light" aria-current="page" href="#">Profesionales</a>
                </li>
                <li th:if="${session.usuariosession != null}"class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Pacientes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/paciente/lista"> Nuestros Profesionales</a></li>
                    </ul>

                </li>
                <li th:if="${session.usuariosession != null}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Editar Perfil</a></li>
                        <li sec:authorize="hasRole('PROFESIONAL')"><a class="dropdown-item" href="/profesional/turnos1">Gestionar turnos</a></li>
                        <li sec:authorize="hasRole('USER')"><a class="dropdown-item" href="">Darme de baja</a></li>
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>