<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head"> </head>
    <body>

        <header>
            <nav  th:replace= "/fragments/navbar :: nav"> </nav>
            <nav  sec:authorize="hasRole('ADMIN')" th:replace= "/fragments/admin_navbar :: nav"> </nav>
        </header>

        <div class="cards  d-flex justify-content-center align-items-center h-100">

            <div class="card d-flex flex-column align-items-center shadow" style="width: 18rem;">
                <div class="d-flex justify-content-end w-100 p-2" style="height: auto; font-size: 15px">
                    <span class="badge fa fa-star container-collapse">  <span class="w-100" th:text="${#numbers.formatDecimal(profesional.reputacion.calificacion, 1, 'COMMA', 1, 'POINT')}" aria-hidden="true"></span></span>
                </div>
                <img th:src="@{/imagen/perfil/{id}(id=${usuario.id})}" class="card-img-top rounded-circle fotoProfesional" alt="foto del profesional">
                <div class="card-body d-flex flex-column align-items-center">
                    <h5 class="card-title" th:text="${usuario.nombreUsuario}"></h5>
                    <p class="card-text"><i class="fa fa-user-md" aria-hidden="true"></i> <span th:text="${profesional.especialidad}"></span></p>

                    <div class="card mb-3  d-flex flex-column align-items-center" style="max-width: 18rem;">

                        <div class="card-body d-flex flex-column align-items-center cardBodyValorConsulta">
                            <p class="card-text" style="font-size:9px;">Valor de la consulta</p>
                            <h5 class="card-title precio" th:text="${profesional.valorConsulta}">$3500</h5>
                        </div>
                    </div>

                    <p class="card-text"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span th:text="${usuario.email}"></span> </p>
                    <a th:href="@{/turnos/agendar/{id}(id=${profesional.id})}" class="btn btn-primary botonAgendarTurno shadow">
                        <i class="fa fa-calendar" aria-hidden="true"></i> AGENDAR UN TURNO
                    </a>
                </div>

            </div>
        </div>

        <div class="card d-flex flex-column align-items-center shadow">
            <div class="card-body d-flex flex-column align-items-center">
                <h5 class="card-title">Dejar una valoración a <span th:text="${usuario.nombreUsuario}"></span></h5>

                <form th:action="@{/profesional/calificacion/__${profesional.id}__}" method="POST">

                    <div class="estrellas">

                        <input class="estrella" type="radio" name="reputacion" value="5" id="estrella5">
                        <label for="estrella5"><i class="fa fa-star" aria-hidden="true"></i></label>

                        <input class="estrella" type="radio" name="reputacion" value="4" id="estrella4">
                        <label for="estrella4"><i class="fa fa-star" aria-hidden="true"></i></label>

                        <input class="estrella" type="radio" name="reputacion" value="3" id="estrella3">
                        <label for="estrella3"><i class="fa fa-star" aria-hidden="true"></i></label>

                        <input class="estrella" type="radio" name="reputacion" value="2" id="estrella2">
                        <label for="estrella2"><i class="fa fa-star" aria-hidden="true"></i></label>

                        <input class="estrella" type="radio" name="reputacion" value="1" id="estrella1">
                        <label for="estrella1"><i class="fa fa-star" aria-hidden="true"></i></label>

                    </div>

                    <button type="submit" class="btn btn-primary">Enviar calificación</button>
                </form>

            </div>
        </div>


        <footer th:replace= "/fragments/footer :: footer"> </footer>



    </body>
</html>

