<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" </head>
    <body>
        <header>
            <nav th:replace= "/fragments/navbar :: nav"> </nav>
        </header>
        <main>
            <div class="container container-registro mt-5" id="registroPageCheck">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card cardForm">
                            <div class="card-header text-center">
                                <h2>Horarios de hoy</h2>
                            </div>
                            <div class="card-body">

                                <form id="formularioRegistro" th:action="@{/profesional/turnos}" method="POST">
                                    <div class="form-group">
                                        <label for="fechaDeseada">Fecha Deseada:</label>
                                        <input type="date" class="form-control" name="fechaDeseada" />
                                        <label for="horaInicio">Inicio:</label>
                                        <input type="number" class="form-control" name="horaInicio" placeholder="00-24" th:value="${horaInicio}" />
                                        <label for="horaFin">Fin:</label>
                                        <input type="number" class="form-control" name="horaFin" placeholder="00-24" th:value="${horaFin}" />
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-primary mt-3 w-100">Cargar horario</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>      

        <footer th:replace= "/fragments/footer :: footer"> </footer>


        <!-- Modal para el login -->
        <div th:replace="/fragments/modal :: div"></div>

        <script src="/javascript/script.js"></script>
    </body>
</html>
