<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head"></head>

    <body>
        <header>
            <nav th:replace= "/fragments/navbar :: nav"> </nav>
        </header>

        <div class="separador-nav-paciente"></div>
        <div class="container-fluid m-5 contenedor">

            <section class=" text-center container container-list">
                <h2 class="text-light text-center">Historia Clinica</h2>
                <div class="container m-5">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>Nombre paciente</th>
                                <th>Paciente ID </th>
                                <th>Diagnostico</th>
                                <th>Nombre profesional</th>
                                <th sec:authorize="hasRole('ADMIN')">Estado</th>
                            </tr>
                        </thead>
                        <tbody th:each="ficha : ${fichas}">
                            <tr>
                                <td th:text="${ficha.paciente.usuario.nombreUsuario}"></td> 
                                <td th:text="${ficha.paciente.id}"></td> 
                                <td th:text="${ficha.diagnostico}"></td> 
                                <td th:text="${ficha.profesional.usuario.nombreUsuario}"></td> 
                            </tr>
                        </tbody>
                    </table>

                    <div class="row mt-3">
                        <div class="divVolver">
                            <a th:href="@{/inicio}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>




        <footer th:replace= "/fragments/footer :: footer"> </footer>

        <div th:replace="/fragments/modal :: div"></div>

        <script src="/javascript/script.js"></script>
    </body>
</html>