<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" </head>
    <body>

        <header>
            <nav th:replace= "/fragments/admin_navbar :: nav"> </nav>
        </header>

        <main>
            <section class="cards">
                <div class="container mt-4">
                    <div class="row justify-content-around">
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <img src="/img/cardiologia.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Cardiología</h5>
                                    <p class="card-text">Cuidá tu corazón</p>
                                    <a href="#" class="btn btn-primary">Reserva una consulta</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <img src="/img/clinica.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Medicina clínica</h5>
                                    <p class="card-text">Hacer un chequeo de tu salud nunca está de más</p>
                                    <a href="#" class="btn btn-primary">Reserva una consulta</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <img src="/img/ginecologia.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Ginecología</h5>
                                    <p class="card-text">Contamos con profesionales con mucha experiencia</p>
                                    <a href="#" class="btn btn-primary">Reserva una consulta</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <img src="/img/pediatria.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pediatría</h5>
                                    <p class="card-text">Podés sacar turno para los más chicos de tu casa</p>
                                    <a href="#" class="btn btn-primary">Reserva una consulta</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer th:replace= "/fragments/footer :: footer"> </footer>

        <!-- Modal para el login -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
             aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Inicio de sesión</h5>
                        <button type="button" class="close border-0 w3-xlarge" data-bs-dismiss="modal" aria-label="Close">
                            <span class="fa fa-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/logincheck}" method="POST" id="formLogin">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="text" id="email" name="email" class="form-control" required />
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña:</label>
                                <input type="password" id="password" name="password" class="form-control" required />
                            </div>
                            <div class="alert alert-danger mensajeError d-none" id="containerMensaje" role="alert">
                                <span id="mensajeError"></span>
                            </div>

                            <div class="d-grid gap-2">
                                <button type="button" id="loginButton" class="btn btn-primary">Iniciar sesión</button>
                            </div>
                        </form>

                        <div class="mt-3 text-center">
                            <a href="recuperarPassword.html" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-flex justify-content-between w-100">
                            <div>
                                ¿Aún no tienes cuenta? <a href="/registrar" class="text-decoration-none">Regístrate aquí</a>
                            </div>
                            <div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascript/script.js"></script>
    </body>
</html>