<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head"> </head>
    <body>

        <header>
            <nav  sec:authorize="hasRole('USER')" th:replace= "/fragments/navbar :: nav"> </nav>
            <nav  sec:authorize="hasRole('ADMIN')" th:replace= "/fragments/admin_navbar :: nav"> </nav>
        </header>
        <section class=" text-center container container-list">
            <h2 class="text-light text-center">Lista de Profesionales</h2>
            <div class="container m-5">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Especialidad</th>
                            <th>Reputación</th>
                            <th>Valor Consulta</th>
                            <th sec:authorize="hasRole('ADMIN')">Estado</th>
                            <th scope="col" sec:authorize="hasRole('ADMIN')">Cambiar Estado</th>
                        </tr>
                    </thead>
                    <tbody th:each="profesional : ${profesionales}">
                        <tr>
                            <th scope="row"><a th:href="@{/profesional/detalle/__${profesional.id}__}">Ver Perfil</a></th>
                            <td th:text="${profesional.usuario.nombreUsuario}"></td>
                            <td th:text="${profesional.especialidad}"></td>
                            <td th:text="${profesional.reputacion.calificacion}"></td>
                            <td th:text="${profesional.valorConsulta}" ></td>
                            <td  sec:authorize="hasRole('ADMIN')" th:text="${profesional.estado}"></td>
                            <td sec:authorize="hasRole('ADMIN')"><a th:href= "@{/admin/modificarEstadoProfesional/__${profesional.id}__}"><i class="fas fa-feather-alt"></i>Cambiar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <footer th:replace= "/fragments/footer :: footer"> </footer>
    </body>
</html>
