<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" </head>
    <body>
        <header>
            <nav th:replace= "/fragments/navbar :: nav"> </nav>
        </header>
        <main>
            <div class="container container-registro mt-5" id="registroPageCheck">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card cardForm">
                            <div class="card-header text-center">
                                <h2>Edite su perfil de profesional</h2>
                            </div>
                            <div class="card-body">

                                <form id="formularioRegistro" th:action="@{/profesional/modificar-perfil/__${profesional.id}__}" method="POST"
                                      enctype="multipart/form-data">                                  
                                        
                                    <input hidden th:value="${id}" name="id">
                                        
                                    
                                    <div class="form-group">
                                        <label>Foto de perfil actual:</label>
                                        <img th:src="@{/imagen/perfil/{id}(id=${usuario.id})}" class="card-img-top rounded-circle img-responsive  fotoProfesional"/>
                                    </div>
                                    
                                    
                                      <div  class="form-group">
                                        <label for="archivo">Seleccionar foto de perfil:</label>
                                        <input type="file" class="form-control-file" name="archivo" id="archivo" />
                                    </div>
                                    

                                    <div  class="form-group">
                                        <label for="nombreUsuario">Nombre:</label>
                                        <input id="nombreUsuario" type="text" class="form-control" name="nombreUsuario"
                                               placeholder="Ingrese su nombre" th:value="${usuario.nombreUsuario}"  />
                                        <div id="nombreValidationFeedback" class="invalid-feedback">
                                            El nombre no debe contener números y debe tener al menos 3 caracteres.
                                        </div>
                                    </div> 

                                    <div class="form-group">
                                        <label for="correo">Correo Electrónico:</label>
                                        <input id="correo" type="email" class="form-control email" name="email"
                                               placeholder="Ingrese su correo electrónico" th:value="${usuario.email}"  />
                                        <div id="emailValidationFeedback" class="invalid-feedback">
                                            Ingresa una dirección de correo electrónico válida.
                                        </div>
                                    </div>

                                    <div  class="form-group">
                                        <label for="telefono">Número de Teléfono:</label>
                                        <input id="telefono" type="tel" class="form-control" name="datosContacto"
                                               placeholder="Ingrese su número de teléfono" th:value="${datosContacto}"
                                                />
                                        <div id="telefonoHelp" class="invalid-feedback">
                                            Ingresa un número de teléfono válido.
                                        </div>
                                    </div>
  
                                    <div class="form-group">
                                        <label for="especialidad">Especialidad:</label>
                                        <select id="especialidad" class="form-control" name="especialidad">
                                            <option value="medico clinico" th:selected="${profesional.especialidad == 'medico clinico'}">
                                                Clínica
                                            </option>
                                            <option value="cardiologia" th:selected="${profesional.especialidad == 'cardiologia'}">
                                                Cardiología
                                            </option>
                                            <option value="pediatria" th:selected="${profesional.especialidad == 'pediatria'}">
                                                Pediatría
                                            </option>
                                            <option value="ginecologia" th:selected="${profesional.especialidad == 'ginecologia'}">
                                                Ginecología
                                            </option>
                                        </select>
                                    </div> 

                                    <div class="form-group">
                                        <label for="valorConsulta">Valor de su consulta:</label>
                                        <input id="valorConsulta" type="number" class="form-control" name="valorConsulta"
                                               placeholder="Valor de su consuta:" th:value="${profesional.valorConsulta}"  />
                                    </div>

                                    <div  class="form-group">
                                        <label for="contr">Contraseña:</label>
                                        <input id="contr" type="password" class="form-control password" name="password"
                                               placeholder="Vuelva a introducir su contraseña o coloque una nueva" th:value="${password}"  />
                                        <div id="passwordValidationFeedback" class="invalid-feedback">
                                            La contraseña debe tener al menos 6 caracteres.
                                        </div>
                                    </div>

                                                                   

                                  

                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-primary mt-3 w-100">Editar</button>
                                    </div>
                                    
                                    <div class="form-group text-center">
                                        <button th:href="@{/}" class="btn btn-secondary my-2 w-100">Cancelar</button>
                                    </div>
                                    
                                    

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>      

        <footer th:replace= "/fragments/footer :: footer"> </footer>


        <!-- Modal para el login -->
        <div th:replace="/fragments/modal :: div"></div>

        <script src="/javascript/script.js"></script>
    </body>
</html>