<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace= "/fragments/head :: head" </head>
    <body>
        <header>
            <nav th:replace= "/fragments/navbar :: nav"> </nav>
        </header>
        <div class="container-fluid m-5 contenedor">

            <form class="formulario" th:action="@{/registro}" method="POST" enctype="multipart/form-data" >


                <div class="form-group my-3">
                    <h3 class="card-title">Registrate!</h3>
                </div>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="nombreUsuario" placeholder="NOMBRE" th:value="${nombreUsuario}">
                </div>
                <div class="form-group my-3">
                    <input type="email" class="form-control" name="email" placeholder="EMAIL" th:value="${email}">
                </div>

                <div class="form-group my-3">
                    <input type="password" class="form-control" name="password" placeholder="CONTRASEÑA" th:value="${password}">
                </div>
                <div class="form-group my-3">
                    <input type="password" class="form-control" name="password2" placeholder="REPETIR CONTRASEÑA" th:value="${password2}">
                </div>

                <div class="form-group my-3">
                    <select class="form-control" name="obraSocial">
                        <option value="opcion1" th:selected="${obraSocial == 'obrasocialA'}">Obra social A</option>
                        <option value="opcion2" th:selected="${obraSocial == 'obrasocialB'}">Obra social B</option>
                        <option value="opcion3" th:selected="${obraSocial == 'obrasocialC'}">Obra social C</option>
                    </select>
                </div>

                <div class="form-group my-3">
                    <input type="text" class="form-control" name="datosContacto" placeholder="Numero telefonico" th:value="${datosContacto}">
                </div>

                <div class="form-group my-3">
                    <input type="file" class="form-control" name="archivo" >
                </div>


                <button type="submit" class="btn btn-primary mt-3 botones">Registrarme</button>
            </form>


            <section class=" text-center container">
                <div class="row mt-3">
                    <div class="divVolver">
                        <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>
            </section>
        </div>      

        <nav th:replace= "/fragments/footer :: footer"> </nav>


        <!-- Modal para el login -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
             aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Inicio de sesión</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenido del formulario de inicio de sesión -->
                        <form th:action="@{/logincheck}" method="POST" id="formLogin">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="text" id="email" name="email" class="form-control" required />
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña:</label>
                                <input type="password" id="password" name="password" class="form-control" required />
                            </div>
                            <div class="alert alert-danger mensajeError d-none" id="containerMensaje" role="alert">
                                <span id="mensajeError"></span>
                            </div>

                            <div class="d-grid gap-2">
                                <button type="button" id="loginButton" class="btn btn-primary">Iniciar sesión</button>
                            </div>
                        </form>

                        <div class="mt-3 text-center">
                            <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-flex justify-content-between w-100">
                            <div>
                                ¿Aún no tienes cuenta? <a href="/registrar" class="text-decoration-none">Regístrate aquí</a>
                            </div>
                            <div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/javascript/script.js"></script>
    </body>
</html>
